#rojo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: red;
    display: block;
}
#verde {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: green;
}
#azul {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: blue;
}